html{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0 2%;
    margin: 0;
    background-color: #ccc;
}

nav {
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav .profil {
    display: flex;
    align-items: center;
}

nav .profil img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}


nav .profil h1{
    margin-left: 10px;
    font-size: 20px;
    color: #141414;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-left: 25px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

nav ul li:hover{
    border-bottom-color: #141414;
}

nav a {
    text-decoration: none;
    color: #141414;
}

.body-content{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 8%;
    margin-left: 8%;
    text-align: center;
}

.body-content img{
    text-align: center;
    width:20%
}

h1 {
    text-align: center;
    color: #141414;
    font-size: 24px;
    margin-bottom: 10px;
    font-size: 180%;
  }

  p {
    line-height: 1.5;
    margin-bottom: 2%;
  }

.separation-alternance{
    width: 24%;
    text-align: center;
    height: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
}

footer{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #141414;
    padding: 10px;
}
footer .infos a{
    text-decoration: none;
    color:white;
}

footer .infos p{
    cursor: pointer;
    color: #ccc;
}

footer .infos p:hover{
    cursor: pointer;
    color: white;
}
