html{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0 2%;
    margin: 0;
    background-color: #ccc;
}

nav {
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav .profil {
    display: flex;
    align-items: center;
}

nav .profil img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}


nav .profil h1{
    margin-left: 10px;
    font-size: 20px;
    color: #141414;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li {
    position: relative;
    margin-left: 25px;
    cursor: pointer;
}

nav ul li::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ccc;
    transition: width 0.2s ease-in-out;
}

nav ul li:hover::before {
    width: 100%;
    background-color: #141414;
}

nav a {
    text-decoration: none;
    color: #141414;
}

.page-content:not(.card){
    margin: 4%;
}

.page-content header{
    margin-top: 5%;
    max-width: 80%;
}

.page-content header h1{
    margin: 0;
    text-transform: uppercase;
    font-size: 4vw;
    color: #141414;
}

.page-content header p{
    line-height: 30px;
    color: #676767;
}
.page-content header p a{
    text-decoration: none;
    color: #676767;
}

.page-content h1{
    margin-left: 5%;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 2vw;
    color: #141414;
}

.page-content .presentation-image{
    margin-top: 5%;
}

.page-content .presentation-image img{
    max-width: 100%;
    height: 400px;
    width: 50%;
    padding: 0;
    height: auto;
    transition: filter 0.4s;
}

.page-content .presentation-image img:hover{
    filter: brightness(50%);
}

hr{
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 0;
    height: 2px;
    width: 65%;
    background-color: #141414;
  }

.card{
    background-color: #141414;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 70px;
}

.poster{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 6%;
    margin-right: 6%;
    border: 1px solid black;
    color: rgb(138, 138, 138);
    transition: transform 0.2s;
}

.poster:hover{
    border: 1px solid #ccc;
    transform: scale(1.5);
    }

.poster img{
    height: 12vw;
    width: 12vw;
}


.projets-section{
    background-color: #141414;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.project{
    height: 250px;
    width: 190px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 8%;
    border: 1px solid black;
    color: rgb(138, 138, 138);
    transition: transform 0.2s;
}

.project:hover{
    border: 1px solid #ccc;
    transform: scale(1.5);
}

.project:last-child:hover{
    background-image: url('../images/qrcode.png') !important;
    background-repeat: round;
}


.competences-section{
    background-color: #141414;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}


.competence{
    height: 320px;
    width: 200px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    border: 1px solid black;
    color: rgb(138, 138, 138);
    transition: transform 0.2s;
}

.competence:hover{
    border: 1px solid #ccc;
    transform: scale(1.5);
}


footer{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #141414;
    padding: 10px;
}
footer .infos a{
    text-decoration: none;
    color:white;
}

footer .infos p{
    cursor: pointer;
    color: #ccc;
}

footer .infos p:hover{
    cursor: pointer;
    color: white;
}

#phrase-nativ:hover{
    color: #141414;
}